.info_section {
    max-width: 900px;
    width: 100%;
    background-color: #21242A;
    padding: 5em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_header {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card_header h1 {
    font-size: 1.8em;
    font-weight: 700;
    color: var(--yellow);
}
.card_header span a {
    color: var(--yellow);
}
.card_carousel {
    margin-bottom: 2em;
}
.description {
    margin-bottom: 3em;
}
.card .card_body .description span {
    color: var(--yellow);
}
.links {
    display: flex;
    list-style: none;
    padding: 0;
}
.links .github a, .links .link a {
    display: flex;
    align-items: center;
    color: #Ffffff;
    font-size: 1em;
}
.links .github a p, .links .link a p {
    margin: 0 0 0 15px;
}
.links .github a {
    margin-right: 2em;
}
@media (max-width: 800px) {
    .info_section {
        padding: 3em 2em;
    }
}
@media (max-width: 580px) {
    .links {
        flex-direction: column;
    }
    .links .github a, .links .link a {
        margin-bottom: 1em;
        font-size: .8em;
    }
    .card_header h1 {
        font-size: 1.3em;
    }
    .card_header span {
        font-size: .8em;
    }
    .description {
        font-size: .9em;
    }
}
