.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}
.form_control label { 
    margin-bottom: .3em;
    font-weight: bold;
    font-size: 1em;
    font-weight: 600;
    color: var(--yellow);
}
.form_control input {
    outline: 0 none;
    border: 0;
    padding: .7em;
    background-color: #31353E;
    color: #ffffff;
    border-radius: 5px;
    height: 40px;
}
.form_control input::placeholder {
    color: #7b7b7b
}
.form_control input[type=file] {
    height: auto;
}
.form_control input[type="file"]::-webkit-file-upload-button {
    background: #F5A904;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
}
@media only screen and (max-width: 500px) { 
    .form_control label {
        font-size: .8em;
    }
    .form_control input {
        font-size: .8em;    
    }
}