.card {
    width: 100%;
    max-width: 1200px;
    border-radius: 5px;
    background-color: #21242A;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.sm {
    max-width: 48%;
    width: 90%;
}
.card > span {
    margin-bottom: 30px;
}
.card span h1 {
    font-weight: 700;
    color: var(--yellow);
    font-size: 1.4em;
}
.card_info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.info_sidebar {
    width: 20%;
}
.pfp {
    width: 100%;
    max-width: 220px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}
.pfp img {
    width: 100%;
    height: auto;
}
.info h3 {
    font-weight: 700;
    color: var(--yellow);
    font-size: 1.4em;
}
.info button {
    border: 0;
    background-color: #F5A904;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.info button a {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 1em;
}
.info ul {
    list-style: none;
    padding: 0;
}
.info ul li, .info ul li a {
    display: flex;
    color: #F5A904;
    align-items: center;
    word-break: break-all;  /* Quebra a palavra para evitar estouro */
}
.info ul li p, .info ul li a p {
    margin: 0;
    margin-left: 10px;
    font-size: 0.9em;
}
.info ul li a {
    width: 100%;
    display: flex;
    text-decoration: none;
}
.info_body {
    width: 80%;
    padding-left: 20px;
}
.title {
    display: flex;
}
.name {
    font-size: 1.2em;
    font-weight: 700;
    margin-right: 20px;
}
.username {
    font-size: 1.2em;
    font-weight: 700;
    color: #F5A904;
}
.divider {
    background-color: #F5A904;
    width: 100%;
    height: 2px;
    margin-bottom: 1em;
}
.description p {
    font-size: 1.1em;
}
.span {
    display: flex;
    align-items: center;
    color: var(--yellow);
    margin-bottom: 30px;
}
.span p {
    font-size: 1.2em;
    font-weight: 800;
    margin: 0   ;
}
.follow_btn {
    font-weight: 800;
}
.connection {
    display: flex;
    align-items: center;
}
.connection p {
    margin: 0;
}
.connection a {
    color: #ffffff;
}
.connection svg {
    margin: 0 1em;
}
.span a {
    color: var(--yellow);
}
.cards_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media only screen and (max-width: 1140px) {
    .card_info {
        flex-direction: column;
        align-items: center;
    }
    .info_sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }
    .info_body {
        width: 100%;
        padding: 0;
    }
    .info {
        width: 100%;
    }
    .info ul {
        display: flex;
    }
    .info ul li {
        margin-left: 15px;
    }
    .info ul li:first-child {
        margin: 0;
    }
}
.create_project a{
    color: var(--yellow);
}
@media only screen and (max-width: 768px) {
    .cards_container {
        flex-direction: column;
    }
    .cards_container div {
        width: 100%;
    }
}
@media only screen and (max-width: 700px) {
    .info ul {
        display: flex;
        flex-direction: column;
    }
    .info ul li {
        margin: 0;
    }
    .description p {
        font-size: 0.8em;
    }
    .name, .username {
        font-size: 1em;
    }
}
@media only screen and (max-width: 400px) {
    .title {
        flex-direction: column;
    }
    .name {
        margin: 0;
    }
}