.connections_container {
    max-width: 750px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.connections_container h2{
    font-size: 2em;   
    text-align: center;
}
.connections_container div {
    width: 100%;
}
.connections_container h4 {
    margin-bottom: 2em;
    color: var(--yellow);
    font-weight: 800;   
}