.project_card {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
}
.sm {
    width: 49%;
}
.bg {
    max-width: 400px;
    height: 476px;
    width: 90%;
    margin: 10px;
}
.card_img {
    width: 100%;
}
.card_img img {
    width: 100%;
    object-fit: cover;
}
.sm .card_img img {
    height: 200px;
}
.bg .card_img img {
    height: 250px;
}
.card_info {
    padding: 20px;
    height: 175px;
    display: flex;
    flex-direction: column;
}
.card_info a {
    text-decoration: none;
}
.card_info span {
    display: flex;
    align-items: center;
    color: var(--yellow);
    margin: 0;
}
.card_info span a {
    color: var(--yellow);
    font-weight: 600;
}
.card_info span a p {
    margin: 0;
}
.card_info p {
    margin-top: 20px;
    overflow: hidden;         /* Oculta o texto que ultrapassa o limite do card */
    text-overflow: ellipsis;
}
.author {
    padding-left: 20px;
}
.author a {
    color: var(--yellow);
}