header {
    display: flex;
    justify-content: center;
    background-color: #F5A904;
    padding: 10px;
    margin-bottom: 50px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container img {
    height: 35px;
    margin: 0;
}
.container button {
    background: none;
    border: 0;
}
.container button:hover {
    background: none;
}
.container button img {
    width: 50px;
    height: auto;
}