.navbar-toggler {
    border: none;
  }
.offcanvas {
    width: 100%;
    border: none;
    background-color: #21242A;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
}
.btn-close {
    --bs-btn-close-bg: url('./assets/img/x.svg'); 
}
.offcanvas-header .offcanvas-title img {
    width: 50px;
    height: auto;
}
.offcanvas-title {
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: center;
}
.offcanvas-title p {
    margin: 0 0 0 10px;
    color: #F5A904;
    font-weight: 800;
}
.offcanvas-body ul {
    margin: 0;
    padding: 0;
}
.nav-link {
    font-weight: 600;
    color: #ffffff;
    font-size: 14px;
}
.rs-picker {
    padding: 5px;
}
.rs-picker-input {
    background-color: #31353E;
    border: 0 none;
    outline: 0;
    color: #fff;
}
.rs-tag-text {
    margin: 10px;
}
.rs-icon {
    color: #ffffff;
}
.rs-modal-content {
    background-color: #21242A;
    color: #ffffff;
}
.rs-btn-subtle {
    color:#ffffff
}
.btn::before {
    background-color: var(--yellow);
    color: #000000;
    border: 0 none;
    transition: 1s all
}
.rs-nav {
    background: none;
    padding: 0;
    margin-bottom: 2em;
}
.rs-nav button {
    flex: 1;
    width: 50%; 
    box-sizing: border-box;
}
.rs-tabs .rs-nav button {
    padding: .7em;
}
.rs-tabs .rs-nav button {
    margin-right: 1em;
}
.rs-tabs .rs-nav button:nth-child(3) {
    margin-right: 0;
}
.rs-tabs .rs-nav .rs-nav-item-active {
    background-color: var(--yellow);
    color: #000000;
    font-weight: 600;
}
.rs-nav-pills .rs-nav-item {
    background: none;
    border: var(--yellow) 1px solid;
    color: var(--yellow);
    font-weight: 600;
}